:root {
  --primary-color: #fff;
  --dark-color: #151313;
  --light-color: #4d4e67;
  --hover-color: rgb(207, 130, 80);
  --animation: 200ms ease-out;
}

body {
  background-color: var(--dark-color);
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: background-color var(--animation);
}

button {
  cursor: pointer;
  border: none;
  padding: 0px;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

input {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0px;
  padding: 0px;
}

.active {
  color: var(--hover-color) !important;
  border-color: var(--hover-color) !important;
  background-color: rgb(100, 100, 100) !important;
}
