body {
  background-color: yellowgreen;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

button {
  cursor: pointer;
  border: none;
  padding: 0px;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0px;
  padding: 0px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
