.header {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 50;
  height: 80px;

  .container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
}

.search-box {
  display: flex;

  gap: 20px;
  flex-basis: 350px;
}

.search-form {
  position: relative;
  flex-basis: 100%;
}

.search-form__input {
  padding-left: 10px;
  padding-right: 10px;

  height: 50px;
  width: 100%;
  background: none;
  color: var(--primary-color);

  border: 3px solid var(--primary-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  transition: border-color var(--animation);

  &:hover,
  &:focus {
    border-color: var(--hover-color);
  }
}

.submit-button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background: none;

  &:hover .input-svg,
  &:focus .input-svg {
    fill: var(--hover-color);
    width: 24px;
    height: 24px;
  }
}

.input-svg {
  fill: var(--primary-color);

  transition: fill 100ms ease-out, width 50ms ease-out, height 50ms ease-out;
}

.header-buttons {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50px;
  background: none;
  color: var(--primary-color);

  border: 3px solid var(--primary-color);
  border-radius: 25px;
  border-bottom-right-radius: 0;

  transition: background var(--animation), border var(--animation),
    color var(--animation);

  &:hover,
  &:focus {
    border: 3px solid var(--hover-color);
    color: var(--hover-color);
  }

  &.theme {
    background: var(--light-color);
  }
}

@media screen and (min-width: 390px) {
}
