.header {
  position: fixed;
  width: 100%;
  top: 0px;

  display: flex;
  align-items: center;

  height: 80px;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.buttons-list {
  display: none;
  gap: 15px;

  li {
    display: flex;
  }
}

.buttons-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border: 2px solid var(--primary-color);
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #353740;

  font-size: 12px;
  color: var(--primary-color);

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: rgb(100, 100, 100) !important;
  }
}

.buttons-list__item-center {
  width: 70px;
}

.buttons-list__item-text {
  transform: rotate(-45deg);
}

.buttons-list__item-text-center {
  transform: rotate(-22deg);
}

.search-box {
  display: flex;
}

.search-form {
  position: relative;
  display: flex;
  max-width: 250px;
  margin-right: 20px;

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.search-form__input {
  padding-left: 10px;
  padding-right: 10px;

  height: 40px;
  width: 100%;
  border: 3px solid var(--primary-color);

  border-top-left-radius: 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  background-color: #353740;
  color: var(--primary-color);

  transition: border-color var(--animation);

  &:hover,
  &:focus {
    border-color: var(--hover-color);
  }
}

.submit-button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 5px;

  width: 30px;
  height: 30px;
  background: none;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .input-svg,
  &:focus .input-svg {
    fill: var(--hover-color);
    width: 20px;
    height: 20px;
  }
}

.input-svg {
  fill: #fff;

  transition: fill 100ms ease-out, width 50ms ease-out, height 50ms ease-out;
}
