.logo-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0px;
  z-index: 25;

  .logo-words {
    color: var(--primary-color);
    font-size: 30px;
  }

  .first-word {
    margin-left: auto;
    margin-right: 10px;
  }

  .second-word {
    margin-right: auto;
    margin-left: 10px;
  }
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  color: var(--primary-color);
  width: 60px;
  height: 60px;

  border: 5px solid var(--hover-color);
  border-radius: 30px;
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 990px) {
  .logo-box {
    margin-top: -70px;
  }

  .logo {
  }
}
