.main {
  .container {
    position: relative;
  }
}

.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

  z-index: 50;
  margin-top: 20px;
  margin-bottom: 20px;
}

.large-image {
  cursor: zoom-in;
  overflow: hidden;
  border-radius: 25px;
  border-bottom-right-radius: 0;

  transition: border-color var(--animation), transform var(--animation);

  &:hover,
  &:focus {
    transform: scale(1.04);
  }
}

.image {
  min-width: 200px;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;

  font-size: 16px;
  color: var(--primary-color);
}

.info-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.go-up__btn {
  position: fixed;
  right: 20px;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 80;

  border: 2px solid var(--hover-color);
  border-radius: 25px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 20px;

  transition: border-color var(--animation), opacity var(--animation);

  &:hover,
  &:focus {
    border-color: var(--hover-color);
  }

  &:hover .go-up__btn-icon,
  &:focus .go-up__btn-icon {
    fill: var(--hover-color);
  }
}

.go-up__btn-icon {
  width: 25px;
  height: 25px;

  transition: fill var(--animation);

  fill: var(--primary-color);
}
