.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

  z-index: 50;
  margin-top: 20px;
}

.large-image {
  cursor: zoom-in;
  overflow: hidden;
  border: 3px solid var(--primary-color);
  border-radius: 25px;
  border-bottom-right-radius: 0;

  transition: border-color var(--animation);

  &:hover,
  &:focus {
    border-color: var(--hover-color);
  }
}

.image {
  min-width: 200px;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;

  font-size: 16px;
  color: var(--primary-color);
}

.info-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
