.sl-overlay {
  background: none !important;
  backdrop-filter: blur(5px);
}

.sl-close {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: var(--primary-color) !important;
  border: 2px solid var(--primary-color) !important;
  border-radius: 50%;
  border-bottom-right-radius: 0px;
  backdrop-filter: blur(15px);

  transition: border-color var(--animation), color var(--animation);

  &:hover,
  &:focus {
    border-color: var(--hover-color) !important;
    color: var(--hover-color) !important;
  }
}

.sl-prev {
  color: var(--primary-color) !important;

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--hover-color) !important;
  }
}

.sl-next {
  color: var(--primary-color) !important;

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--hover-color) !important;
  }
}
