<div class="bg-images">
  <div class="container">
    <img class="pinki" src="./images/pinki.png" alt="pinki" />

    <div class="pinki-stuff">
      <img class="mobile" src="./images/mobile.png" alt="pinki stuff" />
      <img class="toy" src="./images/pinki-toy.png" alt="pinki stuff" />
      <img
        class="red-pokeboll"
        src="./images/red-pokeboll.png"
        alt="pinki stuff"
      />
      <img class="sopilka" src="./images/sopilka.png" alt="pinki stuff" />
      <img
        class="blue-pokeboll"
        src="./images/blue-pokeboll.png"
        alt="pinki stuff"
      />
    </div>
  </div>
</div>
