<header class="header">
  <div class="container">
    <div class="search-box">
      <form class="search-form" id="search-form">
        <input
          class="search-form__input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search images..."
        />

        <button class="submit-button" type="submit">
          <svg class="input-svg" width="16" height="16">
            <use href="./images/symbol-defs.svg#search"></use>
          </svg>
        </button>
      </form>

      <button class="filter" type="button">Filter</button>
    </div>

    <button class="theme">Theme</button>
  </div>
</header>
