<main class="main">
  <div class="container">
    <div class="logo-box">
      <span class="logo-words first-word">images</span>
      <h1 class="logo">IF</h1>
      <span class="logo-words second-word">finder</span>
    </div>

    <div class="gallery"></div>

    <div class="loader-box">
      <div class="loader"></div>
    </div>

    <button class="go-up__btn" type="button" data-go-up-btn>
      <svg class="go-up__btn-icon">
        <use href="./images/symbol-defs.svg#arrow-up"></use>
      </svg>
    </button>

    <div class="image-modal__backdrop image-modal-hidden" data-image-modal>
      <div class="img-loader-box" data-img-loader>
        <div class="img-loader"></div>
      </div>

      <div class="image-modal">
        <img class="large-img" alt="Photo" data-large-image />
      </div>
    </div>
  </div>
</main>
