<div class="modal-filter">
  <div class="buttons-list">
    <button class="buttons-list__item" type="button" name="photo">
      <span class="buttons-list__item-text">photo</span>
    </button>

    <button
      class="buttons-list__item buttons-list__item-center"
      type="button"
      name="illustration"
    >
      <span class="buttons-list__item-text buttons-list__item-text-center"
        >illustration</span
      >
    </button>

    <button class="buttons-list__item" type="button" name="vector">
      <span class="buttons-list__item-text">vector</span>
    </button>

    <button class="buttons-list__item active" type="button" name="all">
      <span class="buttons-list__item-text">all</span>
    </button>
  </div>
</div>
